html,body{
    height: 100%;
}

body{
    background: #CCC;
    .container{
        height: 100%;
        display: flex;
        flex-direction: column;
        /* 头部 */
        .lv-head{
            height: 50px;
            border-bottom: 1px solid #000;
            display:flex;
            justify-content: space-between;
            align-items: center;
            .left{
                .logo{
                    font-size: 26px;
                    text-decoration: none;
                }
            }
            .right{
                display: flex;
                align-items: center;
                font-size: 15px;
                margin-right:10px;
                p{
                    margin-right: 10px;
                }
            }
        };
              /* 内容 */
        .lv-main{
            flex:1;
            display: flex;
            background: white;
            .lv-menu{
                width: 250px;
                height: 100%;
                overflow-y: auto;
                border-right: 1px solid #000;
                li{
                    height: 50px;
                    text-align: center;
                    line-height:50px;
                    border-bottom: 1px solid #000;
                }
            }
            .body{
                flex:1;
                padding: 0 20px;
               
            }
        }
              /* 尾部 */
        .lv-footer{
            height: 50px;
        border-top: 1px solid #000;
        }
        

    }
}
