.body{


.tanchuk{
    // width: 500px;
   height: auto;
   border:1px solid #ccc;
   padding-left: 30px;

   z-index: 999999;
   background: #ccc;
   h2{
       font-size: 30px;
       width: 100%;
       text-align: center;
   }
   p{
       margin-top: 30px;
    select{
        width: 180px;
    }
   }

}
    
}

